package ${DaoPackageName};

#if ($baseMapper)
import ${DaoPackageName}.base.${baseMapper};
#end
import ${EntityPackageName}.${ClassName};
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;

${Remark}
@Mapper
public interface ${ClassName}Mapper #if ($baseMapper)extends ${baseMapper}<${ClassName}>#end {

#if($CommonMapper == false)
    ${ClassName} selectByPrimaryKey(${javaType} ${propertyName});
    #if($isView == false)

    int deleteByPrimaryKey(${javaType} ${propertyName});

    int insert(${ClassName} record);

    int insertSelective(${ClassName} record);

    int updateByPrimaryKeySelective(${ClassName} record);

    int updateByPrimaryKey(${ClassName} record);

    int deleteByIdList(@Param("${propertyName}List") List<String> ${propertyName}List);
    #end

    List<${ClassName}> selectPageList(${ClassName} example);
#end
}