##定义注释的宏定义，调用方式：#fileHeader("title", "desc")
#macro(fileHeader $title $desc)
/**
 * @Title: $!{title}
 * @Description: $!{desc}
 * @Company: $!{company}
 * @Author: $!{author}
 * @CreateTime: $!{createTime}
 */
#end

##定义GET，SET方法的宏定义，调用方式：#getSetMethod($column)
#macro(getSetMethod $columnItem)
    public $!{columnItem.javaType} get$!{StringUtil.firstToUpperCase($!{columnItem.propertyName})}() {
        return $!{columnItem.propertyName};
    }

    public void set$!{StringUtil.firstToUpperCase($!{columnItem.propertyName})}($!{columnItem.javaType} $!{columnItem.propertyName}) {
        this.$!{columnItem.propertyName} = $!{columnItem.propertyName};
    }
#end