<!-- 新增和修改 -->
<div class="" id="edit_${tableName}_div">
    <form enctype="multipart/form-data" id="edit_${tableName}_form">
        <input name="${pkColumn.propertyName}" type="hidden" value="{{${pkColumn.propertyName}}}">
        <div class="fs-14 bgc-white pd-20">
#set($step = 0)
#foreach($column in ${fullColumn})
#set($propertyName = ${column.propertyName})
#if(${propertyName} != ${pkColumn.propertyName})
#set($step = $step + 1)
#if($step % 2 == 1)
            <div class="clear mgb-20">
#end
                <div class="col-6 select-ty">
                    <span><span style="color: red">*</span> ${column.getColumnName()}：</span>
                    <input type="text" id="${propertyName}" name="${propertyName}" value="{{${propertyName}}}" required="true"/>
                </div>
#if($step % 2 == 0 || $step == (${fullColumn.size()} - 1))
            </div>
#end
#end
#end
        </div>
    </form>
    <div class="pu-btn bottom-button pd-10 tc">
        <a href="#" class="button-blue ok" id="save_edit_${tableName}">确认</a>
        <a href="#" class="button-green cancel" id="cancel_edit_${tableName}">取消</a>
    </div>
</div>
