$!macro
package ${Template.getPackageName()};

#if (${baseMapper})
import ${DaoPackageName}.base.${baseMapper};
#end
import ${EntityPackageName}.${ClassName};
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;

##(宏定义)
$fileHeader("${ClassName}${suffix}", "${ClassName}持久层")
@Mapper
public interface ${ClassName}Mapper #if (${baseMapper})extends ${baseMapper}<${ClassName}>#end {

#if(${CommonMapper} == false)
    ${ClassName} selectByPrimaryKey(${pkColumn.javaType} ${pkColumn.propertyName});
    #if($isView == false)

    int deleteByPrimaryKey(${pkColumn.javaType} ${pkColumn.propertyName});

    int insert(${ClassName} record);

    int insertSelective(${ClassName} record);

    int updateByPrimaryKeySelective(${ClassName} record);

    int updateByPrimaryKey(${ClassName} record);

    int deleteByIdList(@Param("${pkColumn.propertyName}List") List<String> ${pkColumn.propertyName}List);
    #end

    List<${ClassName}> selectPageList(${ClassName} example);
#end
}