$!macro
package ${Template.getPackageName()};

import lombok.*;

import java.io.Serializable;
import java.util.Date;

##(宏定义)
$fileHeader("${ClassName}${suffix}", "${ClassName}DTO对象")
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class ${ClassName}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach($column in ${columnList})
    #if($!{column.comment})
    //$!{column.comment}
    #end
    private $!{column.javaType} $!{column.propertyName};
#end
}