$!macro
#set($suffix = $!{Template.getSuffix()})
package $!{Template.getPackageName()};

import lombok.*;

import java.io.Serializable;
import java.util.Date;

##(宏定义)
$fileHeader("$!{ClassName}$!{suffix}", "$!{ClassName}$!{suffix}对象}")
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class $!{ClassName}$!{suffix} implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach($column in $!{columnList})
    #if($!{column.comment})
    //$!{column.comment}
    #end
    private $!{column.javaType} $!{column.propertyName};

#end
}