#set($suffix = ${Template.getSuffix()})
## entityDTO、entity
#set($entityDTOPackageName = ${entityDTO.getPackageName()})
#set($entityDTOSuffix = ${entityDTO.getSuffix()})
#set($entitySuffix = ${entity.getSuffix()})
## primaryKey
#set($pkJavaType = ${pkColumn.javaType})
#set($pkPropertyName = ${pkColumn.propertyName})
package ${Template.getPackageName()};

import ${entityDTOPackageName}.${ClassName}${entityDTOSuffix};

import java.util.List;
import java.util.Map;

/**
 * @Title: ${ClassName}${suffix}
 * @Description: ${ClassName}${entitySuffix}接口层
 * @Company: ${company}
 * @Author: ${author}
 * @CreateTime: ${createTime}
 */
public interface ${ClassName}${suffix} {

#if (${generateRemark} == true)
	/**
	 * @Title: list
	 * @Description: 查询 ${ClassName}${entitySuffix} 列表
	 * @Company: ${company}
	 * @Author: ${author}
	 * @CreateTime: ${createTime}
	 *
	 * @param pageNum
	 * @param pageSize
	 * @param params
     * @param condition
     * @param sortKeys
	 * @return List<${ClassName}${entityDTOSuffix}>
	 */
#end
	List<${ClassName}${entityDTOSuffix}> list(Integer pageNum, Integer pageSize, Map<String, Object> params, String condition, String... sortKeys);

#if (${generateRemark} == true)
    /**
     * @Title: list
     * @Description: 查询 ${ClassName}${entitySuffix} 列表总量
     * @Company: ${company}
     * @Author: ${author}
     * @CreateTime: ${createTime}
     *
     * @param params
     * @param condition
     * @return int
     */
#end
    int total(Map<String, Object> params, String condition);

#if (${generateRemark} == true)
    /**
     * @Title: get
     * @Description: 查询 ${ClassName}${entitySuffix} 对象
     * @Company: ${company}
     * @Author: ${author}
     * @CreateTime: ${createTime}
     *
     * @param ${pkColumn.propertyName}
     * @return ${ClassName}${entityDTOSuffix}
     */
#end
	${ClassName}${entityDTOSuffix} get(${pkJavaType} ${pkPropertyName});

#if(${isView} == false)
#if (${generateRemark} == true)
    /**
     * @Title: save
     * @Description: 保存 ${ClassName}${entitySuffix} 对象
     * @Company: ${company}
     * @Author: ${author}
     * @CreateTime: ${createTime}
     *
     * @param ${className}${entityDTOSuffix}
     * @return int
     */
#end
	int save(${ClassName}${entityDTOSuffix} ${className}${entityDTOSuffix});

#if (${generateRemark} == true)
    /**
     * @Title: update
     * @Description: 更新 ${ClassName}${entitySuffix} 对象
     * @Company: ${company}
     * @Author: ${author}
     * @CreateTime: ${createTime}
     *
     * @param ${pkColumn.propertyName}
     * @param ${className}${entityDTOSuffix}
     * @return int
     */
#end
	int update(${pkJavaType} ${pkPropertyName}, ${ClassName}${entityDTOSuffix} ${className}${entityDTOSuffix});

#if (${generateRemark} == true)
    /**
     * @Title: delete
     * @Description: 批量删除 ${ClassName}${entitySuffix} 对象
     * @Company: ${company}
     * @Author: ${author}
     * @CreateTime: ${createTime}
     *
     * @param ${pkPropertyName}List
     * @return int
     */
#end
	int delete(List<String> ${pkPropertyName}List);
#end
}
