package ${Template.getPackageName()};

import io.swagger.models.Contact;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.config.annotation.EnableWebMvc;
import org.springframework.web.servlet.config.annotation.ResourceHandlerRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter;
import springfox.documentation.builders.ApiInfoBuilder;
import springfox.documentation.builders.PathSelectors;
import springfox.documentation.builders.RequestHandlerSelectors;
import springfox.documentation.service.ApiInfo;
import springfox.documentation.spi.DocumentationType;
import springfox.documentation.spring.web.plugins.Docket;
import springfox.documentation.swagger2.annotations.EnableSwagger2;

/**
 * @Title: Swagger2
 * @Description: Swagger2接口文档配置类
 * @Company: ${company}
 * @Author: ${author}
 * @CreateTime: ${createTime}
 */
@Configuration
@EnableSwagger2 //启用Swagger2
@EnableWebMvc //springMVC环境使用
public class Swagger2 extends WebMvcConfigurerAdapter {

    @Value(#set ($a = '${swagger.ui.title:swagger.ui.title}')"$a")
    private String title = "Swagger Apis";
    @Value(#set ($b = '${swagger.ui.version:swagger.ui.version}')"$b")
    private String version = "Swagger Apis Version";
    @Value(#set ($c = '${swagger.ui.description:swagger.ui.description}')"$c")
    private String description = "Swagger Apis Description";
    //联系人
    @Value(#set ($d = '${swagger.ui.contact.name:swagger.ui.contact.name}')"$d")
    private String contactName = "Swagger Apis Contact Name";
    @Value(#set ($e = '${swagger.ui.contact.email:swagger.ui.contact.email}')"$e")
    private String contactEmail = "Swagger Apis Contact Email";
    @Value(#set ($f = '${swagger.ui.contact.url:swagger.ui.contact.url}')"$f")
    private String contactUrl = "Swagger Apis Contact Url";
    //许可人
    @Value(#set ($g = '${swagger.ui.license:swagger.ui.license}')"$g")
    private String license = "Swagger Apis License";
    @Value(#set ($h = '${swagger.ui.licenseUrl:swagger.ui.licenseUrl}')"$h")
    private String licenseUrl = "Swagger Apis LicenseUrl";
    // 服务条款
    @Value(#set ($i = '${swagger.ui.termsOfServiceUrl:swagger.ui.termsOfServiceUrl}')"$i")
    private String termsOfServiceUrl = "Swagger Apis TermsOfServiceUrl";

    @Bean
    public Docket createRestApi() {
        return new Docket(DocumentationType.SWAGGER_2)
                .apiInfo(apiInfo())
                .select()
                //为当前包路径
                .apis(RequestHandlerSelectors.basePackage("com.exmaple.controller"))
                .paths(PathSelectors.any())
                .build();
    }

    private ApiInfo apiInfo() {
        return new ApiInfoBuilder()
                .title(title)
                .version(version)
                .description(description)
                //联系人
                .contact(contactInfo())
                //许可人
                .license(license)
                .licenseUrl(licenseUrl)
                //服务条款URL
                .termsOfServiceUrl(termsOfServiceUrl)
                .build();
    }

    private String contactInfo() {
        return new Contact()
                .name(contactName)
                .email(contactEmail)
                .url(contactUrl)
                .toString();
    }

    /**
     * 防止@EnableMvc把默认的静态资源路径覆盖了，手动设置的方式
     * @param registry
     */
    @Override
    public void addResourceHandlers(ResourceHandlerRegistry registry) {
        registry.addResourceHandler("swagger-ui.html")
                .addResourceLocations("classpath:/META-INF/resources/");

        registry.addResourceHandler("/webjars/**")
                .addResourceLocations("classpath:/META-INF/resources/webjars/");
    }
}
