#set($suffix = ${Template.getSuffix()})
## entity
#set($entityPackageName = ${entity.getPackageName()})
#set($entitySuffix = ${entity.getSuffix()})
## primaryKey
#set($pkJavaType = ${pkColumn.javaType})
#set($pkPropertyName = ${pkColumn.propertyName})
package ${Template.getPackageName()};

#if (${commonMapper})
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#end
import ${entityPackageName}.${ClassName}${entitySuffix};
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;

/**
 * @Title: ${ClassName}${suffix}
 * @Description: ${ClassName}${entitySuffix}持久层
 * @Company: ${company}
 * @Author: ${author}
 * @CreateTime: ${createTime}
 */
@Mapper
public interface ${ClassName}${suffix} #if (${commonMapper})extends BaseMapper<${ClassName}>#end {

#if(${commonMapper} == false)
    ${ClassName}${entitySuffix} selectByPrimaryKey(${pkJavaType} ${pkPropertyName});
    #if(${isView} == false)

    int deleteByPrimaryKey(${pkJavaType} ${pkPropertyName});

    int insert(${ClassName}${entitySuffix} record);

    int insertSelective(${ClassName}${entitySuffix} record);

    int updateByPrimaryKeySelective(${ClassName}${entitySuffix} record);

    int updateByPrimaryKey(${ClassName}${entitySuffix} record);

    int deleteBatchIds(@Param("${pkPropertyName}List") List<String> ${pkPropertyName}List);
    #end

    List<${ClassName}${entitySuffix}> selectPage(${ClassName}${entitySuffix} example);
#end
}
