<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.demo.dao.PrizeMapper">
    <resultMap id="BaseResultMap" type="com.example.generator.demo.entity.Prize">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="prize" jdbcType="VARCHAR" property="prize"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>
