<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.demo.dao.ViewSysLogMapper">
    <resultMap id="BaseResultMap" type="com.example.generator.demo.entity.ViewSysLog">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="target_id" jdbcType="INTEGER" property="targetId"/>
        <result column="old_value" jdbcType="LONGVARCHAR" property="oldValue"/>
        <result column="new_value" jdbcType="LONGVARCHAR" property="newValue"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="operate_ip" jdbcType="VARCHAR" property="operateIp"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,type,target_id,old_value,new_value,operator,operate_time,operate_ip,status
    </sql>
    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from v_sys_log
        where id = #{id, jdbcType=CHAR}
    </select>
    <select id="selectPage" parameterType="com.example.generator.demo.entity.ViewSysLog" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from v_sys_log
        <where>
            <if test="id != null">
                and id like #{id}
            </if>
            <if test="type != null">
                and type like #{type}
            </if>
            <if test="targetId != null">
                and target_id like #{targetId}
            </if>
            <if test="oldValue != null">
                and old_value like #{oldValue}
            </if>
            <if test="newValue != null">
                and new_value like #{newValue}
            </if>
            <if test="operator != null">
                and operator like #{operator}
            </if>
            <if test="operateTime != null">
                and operate_time like #{operateTime}
            </if>
            <if test="operateIp != null">
                and operate_ip like #{operateIp}
            </if>
            <if test="status != null">
                and status like #{status}
            </if>
        </where>
    </select>
</mapper>
